body {
  background: url(./../assets/background-login.jpg) center/cover no-repeat;
}

.login:hover {
  box-shadow: 0 40px 50px #000;
  z-index: 99;
}

.btn-primary {
  background-color: #10b9e4;
  border: #10b9e4 2px solid;
}

.btn-primary:hover {
  background-color: transparent;
  border: solid 2px #10b9e4;
  color: #10b9e4;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #10b9e4;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(16, 185, 228, 0.25);
}
  